<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Ratings</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.url %></td>
        <td><%= blog.ratings %></td>
        <td><%= blog.author %></td>     <!--ADDED: association-->
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>

<table>                             <!--ADDED: render this table in index-->
  <thead>
  <tr>
    <th>Name</th>
    <th>Blogs</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.blogs %></td>    <!--ADDED: association-->
        <td><%= link_to 'Show', author %></td>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_author_path %>